<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <title>qq分享活动界面</title>
    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="../style/activity.css">
</head>
<body>
    <div class="main_container">

        <header class="page_header_wrapper">
            <div class="header_goback">

                <i class="iconfont icon-zuojiantou"></i>
                <span></span>
            </div>
            <div class="header_content ">
                <!-- <p class="ellipsis">xxx管理学院sssxxx管理学院sssxxx管理学院sss</p> -->
                <p class="header_content_num desc"></p>

            </div>
            <div class="header_group">

            </div>
        </header>
        <!--<button type="button" id="btn" onclick="secondClick()">Click Me!</button>-->
        <section class="page_body_wrapper">

        </section>
        <section class="page_footer_wrapper">
            <div class="input_con">
                <input type="text" name="" id="">
            </div>
            <!--<div class="tool_wrapper">-->
                <!--<ul>-->
                    <!--<li class="tool_icon_item left">-->
                        <!--<img src="../assets/sound.png" alt="">-->
                    <!--</li>-->
                    <!--<li class="tool_icon_item left">-->
                        <!--<img src="../assets/picture.png" alt="">-->
                    <!--</li>-->
                    <!--<li class="tool_icon_item left">-->
                        <!--<img src="../assets/camera.png" alt="">-->
                    <!--</li>-->
                    <!--<li class="tool_icon_item left">-->
                        <!--<img src="../assets/redPacket.png" alt="">-->
                    <!--</li>-->
                    <!--<li class="tool_icon_item left">-->
                        <!--<img src="../assets/GIF.png" alt="">-->
                    <!--</li>-->
                    <!--<li class="tool_icon_item left">-->
                        <!--<img src="../assets/smile.png" alt="">-->
                    <!--</li>-->
                    <!--<li class="tool_icon_item left">-->
                        <!--<img src="../assets/add.png" alt="">-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--img改写-->
            <div class="tool_wrapper">
                <img src="../assets/foot.png" alt="">
            </div>
        </section>
    </div>

</body>
<script src="../js/rem.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="../js/majorsData.js"></script>


<script src="../js/activity.js"></script>
<script>
    function secondClick() {
        activityVM.startRefresh(i);
    }

</script>

</html>